@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ContactUs>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "Master.cshtml";
}
<section id="main" class="wrapper">
<div class="container">

 <header class="major special">
<h2>@Model.Value("pageTitle")</h2>
</header>
<div>
    @Model.Value("bodyText")
</div>
 </div>
</section>
